useDynLib(atakrig, .registration=TRUE)
import(gstat, foreach, doSNOW, snow, methods)
importFrom(Rcpp, evalCpp)
importFrom("methods", "is")
importFrom("sf", "st_distance", "st_bbox", "st_crs", "st_filter", "st_as_sf", "st_coordinates", "st_centroid")
importFrom("terra", "as.points", "crds", "values")
importFrom("graphics", "layout", "legend", "lines", "mtext", "par", "plot", "plot.new")
importFrom("stats", "median", "sd")
importFrom("utils", "hasName", "setTxtProgressBar", "txtProgressBar")

export(
  deconvPointVgm,
  deconvPointCrossVgm,
  deconvPointVgmForCoKriging,
  extractPointVgm,
  autofitVgm,
  plotDeconvVgm,

  ataKriging,
  ataKriging.cv,
  ataCoKriging,
  ataCoKriging.cv,
  atpKriging,
  atpCoKriging,

  discretizeRaster,
  discretizePolygon,
  subsetDiscreteArea,
  rbindDiscreteArea,
  updateDiscreteAreaValue,

  ataSetNumberOfThreadsForOMP,
  ataStartCluster,
  ataStopCluster,
  ataIsClusterEnabled
)
